/*
*{
	outline: red 2px solid;
}
*/
body{
    background-color: black;
}

.main{
    background-color: white;
    margin-top: 110px;
    padding-left: 100px;
    min-width: 1200px;
    height: 500px;
}

.hadouken {
    background-image: url('images/hadouken.gif');
    width: 156px;
    height: 90px;
    display: none;
    float: left;
    position: relative;
    top: -30px;
    left: 0px;
}


.ryu {
    float: left;
}

.box_1{
    width: 100px;
    height:50px;
    float: left;
    margin-left: 70px;
    margin-top: 150px
}

.box_2{
    width:200px;
    height:50px;
    float: left;
    margin-left: 100px;
    margin-top: 150px
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool{
    width: 650px;
    height: 500px;
}

.ryu-ready, .ryu-throwing{
    display: none;
}

.ryu-ready {
    background-image: url('images/ryu-ready-position.gif');
    /*	display: none;*/
}


.ryu-cool{
    background-image: url('images/ryu-cool.gif');
    display: none;
}

.ryu-throwing{
    background-image: url('images/ryu-throwing-hadouken.png');
    /*	display: none;*/
}

.ryu-still{
    background-image: url('images/ryu-standing-still.png');
    /*	display: none;*/
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
    background-repeat: no-repeat;
}


